<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission pour accéder à Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- On clarifie que la caméra est une fonctionnalité facultative -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <!-- Permission requise pour prendre des photos des objets et pour la recherche par image -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".CollectionApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChefInventory">
        <activity
            android:name=".ui.actvity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.actvity.EditItemActivity" />
        <activity android:name=".ui.actvity.SearchActivity" />
        <activity android:name=".ui.actvity.ItemListActivity" />
        <activity android:name=".ui.actvity.CategoryListActivity" />
        <activity android:name=".ui.actvity.SignatureReportActivity" />
        <activity android:name=".ui.actvity.LocationManagementActivity" />
        <activity
            android:name=".ui.actvity.FullScreenImageActivity"
            android:theme="@style/Theme.ChefInventory.FullScreen" />
        <activity android:name=".ui.actvity.InventoryScannerActivity" />
        <activity android:name=".ui.actvity.InventoryResultActivity" />
        <activity android:name=".ui.actvity.BackupActivity" />
        <activity android:name=".ui.actvity.BatchPossessionActivity" />
        <activity android:name=".ui.actvity.CategoryAuditActivity" />
        <activity android:name=".ui.actvity.CrashActivity" />
        <activity android:name=".ui.actvity.IngredientListActivity" />
        <activity android:name=".ui.actvity.EditIngredientActivity" />

        <!-- Déclaration de l'activité de la librairie de recadrage avec un thème approprié -->
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>
